.container_task {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .task {
        width: 50%;
        max-width: max-content;
        min-width: 50%;
        height: auto;
        max-height: 70%;
        min-height: 70%;
        background-color: #3f3f3f;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;

        .task_title {
            font-size: 3.5rem;
        }

        .task_id {
            font-size: 1.5rem;
        }
    }
}