h1 {
    color: #ccc;
}

.container_input {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input {
        width: 50%;
        border: 1px solid #ccc;
        outline: none;
        padding: 10px;
    }

    textarea {
        width: 50%;
        height: 200px;
        padding: 10px;
        border-radius: 5px;
        margin-top: 30px;
        resize: none;

        &::placeholder {
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    button {
        margin-left: 10px;
        padding: 15px;
        border: none;
        outline: none;
        color: black;
        background-color: #2979aa;
        margin-top: 40px;
        width: 30%;
        color: white;
        cursor: pointer;
    }
}

.container_warning {
    width: 200px;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 40%;
    background-color: rgb(150, 19, 19);
    color: white;
    text-align: center;
}