<ng-container *ngIf="view">
    <h1 class="number_task">
        Number of tasks: {{this.tasks.length}}</h1>

    <h2 class="title" i18n>Tasks</h2>
    <div class="flex">
        <div class="container_task" [ngStyle]="{'justify-content': tasks.length === 0 ? 'center' : ''}">
            <div class="task" *ngFor="let task of tasks let i = index">
                <small>
                    {{task.id}}
                </small>
                <span class="status" [appTaskStatus]="task.completed" *ngIf="!task.completed">
                    Pending
                </span>
                <span class="statusTrue" [appTaskStatus]="task.completed" *ngIf="task.completed">
                    Completed
                </span>
                <span [ngClass]="{'line_through': task.completed}">{{ task.title }}</span>
                <input class="task_check" type="checkbox" [checked]="task.completed" (change)="completeTask(task)">
                <button class="task_details" (click)="detailsTask(task.id)">Details</button>
                <button class="task_delete" (click)="deleteTask(task.id)"
                    [appConfirmDelete]="task.title">Delete</button>
                <button class="task_edit" (click)="editTask(task.id)">Edit</button>
            </div>
            <span [ngStyle]="{'color': 'white'}" *ngIf="tasks.length === 0">
                There are no tasks
            </span>
        </div>
    </div>
</ng-container>

<!-- Aqui van los hijos -->
<router-outlet></router-outlet>