<!-- Cuando se emita un evento de taskAdded del add, llamar al addTask del app -->
<!-- <app-addTask (taskAdded)="addTask($event)"></app-addTask> -->
<!-- <app-list-task 
    [listTask]="tasks"
    [tasksUpload]="tasksUpload"
    (taskCompleted)="markTaskCompleted($event)"
    (taskDeleted)="deleteTask($event)"
></app-list-task> -->

<ng-container *ngIf="view">
    
    <nav class="tabs">
        <a routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All</a>
        <a routerLink="/tasks/completed" routerLinkActive="active">Completed</a>
        <a routerLink="/tasks/deleted" routerLinkActive="active">Deleted</a>
    </nav>
    <!-- <button *ngIf="!open" (click)="openTask()" class="add_button">Agregar tarea</button> -->
    <button (click)="openTask()" class="add_button">Add task</button>
    
</ng-container>

<router-outlet />